@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  font-size: 17px;
}
.cabecalho {
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho-imagem {
    height: 450px;
  }
 .cabecalho-nav{
  display: flex;
  gap: 4rem;
  height: 45px;
 }
 body{
  background: <img class="cabecalho-imagem" src="amico.svg" alt="Capa Figma">;
 }